* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body { 
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #282c34;
}

a, li, ul {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.entrance-text { 
  font-size: 65px;
  color: #FF1493;
}

.wildcard { 
  color: #069BEB;
}

.center-entrance  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrapper { 
  display: flex;
}

.my-drop-down { 
  font-size: 35px;
  border-bottom: 1px solid #069BEB !important;
  background-color: transparent;
  border-color: transparent;
  padding: 1.275rem 7.00rem;
}

.my-drop-down:hover { 
  
  color: black;
  background-color: rgba(255, 20, 145, 0.384);
  border-color: transparent;
}

.my-dropdown-menu { 
  background-color: rgba(255, 20, 145, 0.384);
}

.my-dropdown-item { 
  padding: 10px 100px;
  font-size: 25px;
  color: #069BEB;
}

.my-dropdown-item:hover { 
  color: rgb(7, 122, 184);
  background-color: #FF1493;
}
