* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  
}

body, html { 
  font-family: Arial, Arial, Helvetica, sans-serif;
  line-height: 1.4;
  background-color: #282c34;
  height: 100%;
}

a, li, ul {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

table { 
  width: 100%;
}

table, th, td {
  border: 1px solid #069BEB;
  color: #FF1493;
  text-align: center;
}

td:hover {
  background-color: #069bebab;
}


.table-header {
  background-color: black;
}

.entrance-text { 
  /* font-size: 65px; */
  font-size: calc(24px + (65 - 24) * ((100vw - 300px) / (1600 - 300)));
  color: #FF1493;
}

.sub-header { 
  color: #FF1493;
}

.center-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  /* width: 100vw; */
}
/*VV FADE TRANSISTION VV*/

.route-section {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}

.fade-appear,
.fade-enter { 
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active { 
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit { 
  opacity: 1;
}

.fade-exit.fade-exit-active { 
  opacity: 0;
  transition: opacity 150ms linear;
}

/*^^ end fade dependent CSS ^^*/



/*V SPINNING WILDCARD V*/

.wildcard { 
  color: #069BEB;
  display: inline-block;
  font-size: 3rem;
  height: 2.5rem;
}

@keyframes rotate {
  from {transform:rotate(0deg); }
  to {transform:rotate(360deg); }
}

.wildcard {
  transform-origin: center center;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }

/*^ end wildcard related CSS ^*/

.center-entrance  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrapper { 
  display: flex;
}

.my-drop-down { 
  font-size: 35px;
  font-size: calc(14px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
  border-bottom: 1px solid #069BEB !important;
  background-color: transparent;
  border-color: transparent;
  padding: 1.275rem 7.00rem;
}

.my-drop-down:hover { 
  
  color: black;
  background-color: rgba(255, 20, 145, 0.384);
  border-color: transparent;
}

.my-dropdown-menu { 
  background-color: rgba(255, 20, 145, 0.384);
}

.my-dropdown-item { 
  padding: 10px 100px;
  font-size: 25px;
  color: #069BEB;
}

.my-dropdown-item:hover { 
  color: rgb(7, 122, 184);
  background-color: #FF1493;
}

.my-button {
  color: #FF1493;
  background-color: transparent;
  border: solid;
  border-radius: 25px;
  border-color: #069BEB;
  transition: opacity 0.5s;
  opacity: 1;
}

.my-button:hover { 
  background-color: #FF1493;
  border-color: #069BEB;
}
.my-button.hide {
  opacity: 0;
  pointer-events:none;
}
