* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, html { 
  font-family: 'Audiowide', cursive;
  line-height: 1.4;
  background-color: #282c34;
  height: 100%;
  overflow: scroll;
}

a, li, ul {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.entrance-text { 
  font-family: 'Audiowide', cursive;
  /* font-size: 65px; */
  font-size: calc(24px + (65 - 24) * ((100vw - 300px) / (1600 - 300)));
  color: #ff48c4;
}

.sub-header { 
  color: white;
  width: 100%;
}

.center-component {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  height: 100%;
  /* width: 100vw; */
}

.expanded { 
  transform: rotate(0);
  margin-left: auto;
  transition: transform 3s;
}

/* *********  FLOAIING PROGRAM LANGS  ********* */

/* nest all */
.float-container { 
  position: absolute;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

/* nest all */
.all-objects { 
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.all-objects div {
  position: absolute;
}

/* distances from left */
.begin {
  left: 0%
}

.split-bq {
  left: 12.5%;
}

.quarter {
  left: 25%
}

.split-qh {
  left: 37.5%
}

.half {
  left: 50%
}

.split-ht {
  left: 62.5%;
}

.three-quarter {
 left: 75%
}

.split-te {
  left: 87.5%
}

.end {
 left: 100%
}

.begin img { 
  margin-top: 60vh;
}

.split-bq img{
  margin-top: 60vh;
}

.quarter img { 
  margin-top: 60vh;
}

.split-qh img{
  margin-top: 60vh;
}

.half img {
  margin-top: 60vh;
}

.split-ht img{
  margin-top: 60vh;
}

.three-quarter img {
  margin-top: 60vh;
}

.split-te img{
  margin-top: 60vh;
}

.end img {
  margin-top: 60vh;
}

/* speeds/direction for the float animation */
.speed-one {
  animation: float_lang 50s linear infinite forwards;
}

.speed-two {
  animation: float_lang 45s linear infinite forwards;
}

.speed-three {
  animation: float_lang 40s linear infinite forwards;
}

.speed-four {
  animation: float_lang 35s linear infinite forwards;
}

.speed-one img {
  width: 150px;
  float: right;
}

.speed-two img {
  width: 150px;
  float: right;
}

.speed-three img {
  width: 150px;
  float: right;
}

.speed-four img {
  width: 150px;
  float: right;
}

@media only screen and (max-width: 600px) {
  .speed-one img {
    width: 50px;
    float: right;
  }
  
  .speed-two img {
    width: 50px;
    float: right;
  }
  
  .speed-three img {
    width: 50px;
    float: right;
  }
  
  .speed-four img {
    width: 50px;
    float: right;
  }
}

/* the key frame work horse for animation */
@keyframes float_lang {
  0%{transform:translateY(50vh)}
  to{transform:translateY(-120vh)}
}

/* ************** END FLOATING ICONS ************** */

.expandOpen { 
  transform: rotate(180deg);
}

.my-card { 
  font-family: 'Audiowide', cursive !important;
  background-color: #333436 !important;
  color: #ff48c4 !important;
}

.my-hr { 
  border-top: 1px solid #2bd1fc;
}

.sub-header {
  font-size: 30px;
}

.card-detail-hdr { 
  font-family: 'Audiowide', cursive !important;
  color: #2bd1fc;
}

.expand-icon { 
  color: #2bd1fc !important;
}
/*VV FADE TRANSISTION VV*/

.route-section {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
}

.center-wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  /* padding-top: 20%; */
  top: 20%;
  left: 0;
  overflow: scroll;
  /* padding-top: 20%; */
}

.fade-appear,
.fade-enter { 
  opacity: 0;
  z-index: 1;
}

.fade-appear-active,
.fade-enter.fade-enter-active { 
  opacity: 1;
  transition: opacity 300ms linear 150ms;
}

.fade-exit { 
  opacity: 1;
}

.fade-exit.fade-exit-active { 
  opacity: 0;
  transition: opacity 150ms linear;
}

/*^^ end fade dependent CSS ^^*/



/*V SPINNING WILDCARD V*/

.wildcard { 
  color: #2bd1fc;
  display: inline-block;
  font-size: 3rem;
  height: 2.5rem;
}

@media only screen and (max-width: 600px) {
  .wildcard {
    font-size: 1.6rem;
    height: 1.1rem;
  }
}

@keyframes rotate {
  from {transform:rotate(0deg); }
  to {transform:rotate(360deg); }
}

.wildcard {
  transform-origin: center center;
  animation-name: rotate;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  }

/*^ end wildcard related CSS ^*/

.center-entrance  {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-wrapper { 
  display: flex;
}

.my-drop-down { 
  font-family: 'Audiowide', cursive;
  font-size: 35px;
  font-size: calc(14px + (35 - 14) * ((100vw - 300px) / (1600 - 300)));
  border-bottom: 1px solid #2bd1fc !important;
  background-color: transparent;
  border-color: transparent;
  padding: 1.275rem 7.00rem;
}

.my-drop-down:hover { 
  
  color: #ff48c4;
  background-color: #c04df991;
  border-color: transparent;
}

.my-dropdown-menu { 
  background-color: #c04df991;
}

.my-dropdown-item { 
  font-family: 'Audiowide', cursive;
  padding: 10px 100px;
  font-size: 25px;
  color: #2bd1fc;
}

.my-dropdown-item:hover { 
  color: rgb(7, 122, 184);
  background-color: #ff48c4;
}

.my-button {
  color: #ff48c4;
  background-color: transparent;
  border: solid;
  border-radius: 25px;
  border-color: #2bd1fc;
  transition: opacity 0.5s;
  opacity: 1;
}

.my-button:hover { 
  background-color: #ff48c4;
  border-color: #2bd1fc;
}
.my-button.hide {
  opacity: 0;
  pointer-events:none;
}

.my-menu-button { 
  color: #ff48c4;
  background-color: transparent;
  border: solid;
  border-radius: 10px;
  border-color: #2bd1fc;
}

.my-menu-item { 
  font-family: 'Audiowide', cursive;
  color: #c04df9 !important;
  text-decoration: underline;
  text-decoration-color: #2bd1fc !important;
  text-decoration: none !important;
}

.my-menu-item:hover {
  background-color: #f3ea5f;
  text-decoration: underline !important;
  text-decoration-color: #2bd1fc !important;
}

.main-footer { 
  color: #ff48c4;
  background-color: transparent;
  padding-top: .5em;
  position: absolute;
  bottom: -30vh;
  width: 100%;
  text-align: center;
  margin-top: -45px;
}

.footer-heart { 
  color: #c04df9;
}

.page-container { 
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.content-wrap { 
  text-align: center;
  flex: 1;
}
